body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #A8D5BA;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background: url('images/hero-bg.jpg') no-repeat center;
    background-size: cover;
    color: rgb(8, 9, 13);
    padding: 100px 20px;
    margin-top: 50px;
}

section {
    background-color: #84a784;
    padding: 40px;
    margin: 20px;
    background: rgb(199, 193, 190);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

.project img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.social-icon {
    width: 30px;
    margin: 5px;
}
button {
    background-color: #A8D5BA; /* Pastel Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


footer {
    background: #6A8E5F;
    color: white;
    padding: 10px;
}
